<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table bgcolor="#24181d" border="0" cellpadding="0" cellspacing="0" style="
    color:#96838b;
    font-size: 18px;
    margin:0; padding:0;font-family: arial,sans-serif; line-height: 1.4; width: 700px;">
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td width="50px"></td>
                <td>
                    <h3>
                        <span>Новая заявка</span><h3>
                            <br>
                            <p>
                                <span>Поступила новая заявка №</span><span>{0}</span><span> Успешно оплачена.</span><br>
                                <span>Благодарим Вас за пользование нашим сервисом!</span>
                            </p>
                            <p>
                                <span><br>ID Заказа: <span>{0}</span></span>
                                <span><br>Email: <span>{1}</span></span>
                                <span><br>Номер телефона: <span>{2}</span></span>
                                <span><br>Адрес: <span>{3}</span></span>
                                <span><br>Количество: <span>{4}</span></span>
                                <span><br>Цвет: <span>{5}</span></span>
                                <span><br>Размер: <span>{6}</span></span>
                            </p>
                            <br>
                </td>
                <td width="50px"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>